openapi: 3.1.0

info:
  title: Driftmapper API
  version: 1.0.0
  summary: Build-info registration, resolution, and drift detection.
  description: |
    Source of truth for the Driftmapper wire contract. Go types (`oapi-codegen`,
    types-only) and TypeScript types (`openapi-typescript`) are generated from this
    file; neither is hand-maintained. See spec §5.1b.

    ## Stability tiers

    This document describes one API with two stability tiers. The tier is declared
    per-operation via `x-stability`.

    - `x-stability: public` — the CLI-facing contract. Published in the
      `driftmapper-protocol` Go module, semver'd on this document's version, and
      covered by the compatibility window below. CI pipelines pin CLI versions and
      are never force-upgraded, so these operations must remain backward compatible
      for years.
    - `x-stability: dashboard` — consumed only by the first-party dashboard SPA,
      which deploys in lockstep with the server. Types are generated into the SPA but
      NOT published in the public Go module. Free to change without a major version.

    **The public tier is two operations: `registerBuild` and
    `authorizeRepository`.** The CLI is a CI-pipeline tool first — it writes a
    build and generates an HTML file from the response, and it reads nothing.
    `authorizeRepository` is the one deliberate exception (spec §4.5): redeeming
    a challenge to bind a repository is itself a write (a policy is created),
    called from the same customer CI the CLI already runs in, with the same
    permanent version-skew exposure as build registration. Promoting an
    operation from `dashboard` to `public` is additive and safe, as noted
    below — this was the first promotion since the tier was defined, and
    every operation besides these two is still `dashboard`.

    This is deliberately conservative rather than a judgement that these operations
    will never be CLI-facing; a fully featured CLI is an intended later iteration.
    Promoting an operation from `dashboard` to `public` later is additive and safe.
    Demoting one is a breaking change to a contract already pinned in customer CI,
    which is not. When in doubt, an operation starts `dashboard`.

    ## Compatibility policy

    The server supports the current major version and the two preceding majors (N-2)
    for `public` operations. Within a major version, only additive changes are
    permitted: new optional request fields, new response fields, new enum members in
    response-only positions. CI gates on `oasdiff` breaking-change detection against
    the previous tag, scoped to `public`-tier operations only — `dashboard`-tier
    paths are stripped from both sides of the diff before `oasdiff` runs (see
    `.github/workflows/oasdiff.yml` and `scripts/strip_dashboard_tier.py`), since
    that tier is explicitly exempt from this compatibility window.

    Clients MUST ignore unknown response fields. Servers MUST reject unknown request
    body fields (see the `unknown_field` error code below) rather than silently
    dropping them — silent drops turn a client bug into missing data discovered
    months later.

    ## Response envelope

    Every response is one JSON object with exactly one of `data`/`error` set —
    never both, never neither:

    - **Success**: `{"data": <schema>}`. `data` is the operation's documented
      response schema (a resource, or `{"data": [...], "page": {...}}` for a
      paginated list, itself nested inside the outer `data`).
    - **Failure**: `{"error": {"code", "message", "details"}}`, always
      `Content-Type: application/json` (never `application/problem+json` — this
      is a from-scratch envelope, not RFC 9457). `code` is the stable,
      machine-readable identifier clients branch on; `message` is a human-
      readable string that may be reworded without a version bump; `details` is
      present only for errors with structured, error-specific fields a client
      can act on (e.g. `claim_mismatch`'s `mismatched_claim`/`expected`/
      `actual` — spec §4.5) and is absent otherwise. See the `Error` schema.

    ## Authentication

    Two principals, deliberately non-interchangeable (spec §5.2a):

    - `workloadOidc` — a machine principal. The raw OIDC ID token issued by the CI
      provider, presented as a bearer credential. No Driftmapper-issued static token
      exists anywhere in this system (spec §4). In the MVP this principal reaches
      exactly one operation: `registerBuild`.
    - `userSession` — a human principal, via the WorkOS AuthKit session cookie
      (spec §4A).

    A workload principal can never reach billing or membership operations: a
    compromised CI workflow must not be able to cancel a subscription or add an
    org member.

    There is deliberately no third principal *yet*. A human-scoped CLI credential
    (device-code flow or similar) is not needed while the CLI only writes from CI,
    so it is not specified here — a deferral, not a resolution. It becomes necessary
    the moment a CLI read command is intended to run from a developer's machine.
    Note that CLI reads running *in CI* would need no new principal, so if that
    capability is ever split from laptop-side reads, only the latter forces the
    decision.

    ## Not described here

    The `build-info.html` meta-tag format is also a public contract with third-party
    parsers, but it is not API-shaped. It is versioned separately in
    `FORMAT-build-info.md` in this repository (spec §2.3).

    The resolution page (`/r/{buildInstanceId}`) is server-rendered HTML, not a JSON
    endpoint (spec §2.7). Its two disclosure tiers correspond exactly to the
    `BuildPublic` and `Build` schemas below.

servers:
  - url: https://api.driftmapper.com
    description: Production

security:
  - userSession: []

tags:
  - name: auth
    description: |
      Dashboard SPA sign-in and account session management. All `dashboard`-
      tier: the CLI authenticates with `workloadOidc`, never these.
  - name: builds
    description: Build registration and lookup.
  - name: monitored-urls
    description: URLs polled for drift detection (spec §2.6).
  - name: drift-events
    description: Observed build-ID changes at monitored URLs.
  - name: repos
    description: |
      Repository authorization — binding a repository to an org via
      challenge redemption (spec §4.5), and listing already-bound repos.
  - name: orgs
    description: |
      Organization membership/switching for the signed-in user — which orgs they
      belong to and at what role. Distinct from `billing`, which covers a single
      already-resolved org's plan.
  - name: billing
    description: Subscription and checkout.

paths:
  /v1/auth/token:
    post:
      operationId: exchangeToken
      summary: Redeem a WorkOS authorization code for tokens
      description: |
        The second half of the dashboard SPA's PKCE sign-in, and the one part of
        that flow the browser cannot do itself: WorkOS's own token endpoint
        (`https://api.workos.com/user_management/authenticate`) sends no CORS
        headers on its response, so a browser can never read the result directly.
        This endpoint performs the exchange server-side with the server's WorkOS
        API key and relays the tokens back.

        Deliberately unauthenticated — it is how a caller becomes authenticated in
        the first place, so no bearer token exists yet. `code_verifier` (the PKCE
        proof that this caller is the one that started the flow) is the only
        credential guarding it, and the authorization code itself is single-use
        and short-lived at WorkOS: a replay is rejected the same as a wrong
        verifier.

        Also resolves the local user mirror (creating it on first sign-in), so it
        exists before the caller's next request rather than racing the first
        `GET /v1/me`.
      tags: [auth]
      x-stability: dashboard
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExchangeTokenRequest' }
      responses:
        '200':
          description: Exchange succeeded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExchangeTokenResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: |
            The code was invalid, expired, already redeemed, or did not match
            `code_verifier` (`error.code: invalid_grant` in every case — WorkOS
            does not distinguish these to the relying party, and neither does
            this endpoint).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/auth/logout:
    post:
      operationId: logout
      summary: Revoke the current WorkOS session
      description: |
        Revokes the session named by the bearer token's `sid` claim, so it (and
        any refresh token derived from it) stops working immediately rather than
        just expiring naturally.

        Not gated behind authentication in the usual sense: a missing, expired,
        or already-invalid bearer token is not an error here, it is simply
        nothing further to revoke. That keeps the operation idempotent — logging
        out twice, or logging out after the access token has already died, both
        just get a `204`.
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Session revoked, or there was none to revoke.

  /v1/me:
    get:
      operationId: getCurrentUser
      summary: Fetch the signed-in user
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/account/email-notifications:
    patch:
      operationId: updateEmailNotifications
      summary: Enable or disable account email notifications
      description: |
        The only account field mutable through this API. Email address,
        password, and verification status are WorkOS-owned — managed via
        AuthKit itself, not here.
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '204':
          description: Updated.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/builds:
    post:
      operationId: registerBuild
      summary: Register a build and receive its build-instance ID
      description: |
        Called by the CLI during CI. Authenticated with a workload OIDC token only —
        a human session cannot register builds, because build provenance derives
        entirely from verified token claims.

        **Token-derived fields are never accepted in the request body.** Repository
        identity, repository ID, ref, repository visibility, workflow, run ID, and
        run attempt are read from verified claims (spec §2.2a). Supplying any of them
        in the body is rejected with `unknown_field` — if the CLI could self-report
        the repository, any valid token holder could register builds attributed to a
        repository they do not control.

        **Idempotency (spec §2.5a).** The build-instance ID is content-addressed over
        the tuple:

            repository_id + commit_sha + ref + workflow + run_id + run_attempt

        A retried step within the same run attempt therefore resolves to the same ID
        and returns `200` — safe to retry on network failure without creating a
        duplicate. A manual re-run increments `run_attempt` and produces a new ID,
        which is correct: it is a genuinely distinct build instance. Note that
        `commit_sha` alone is insufficient, since the same commit legitimately builds
        many times.

        Registration requires the repository to already carry a live trusted-
        workload policy (spec §4.5) — bind the repository first via
        `authorizeRepository`, then register builds. A token for a repository
        with no live policy is rejected with `error.code: no_live_policy`.

        **This response is the CLI's only template input.** `build_instance_id` and
        `resolution_url` are both server-provided, and the CLI constructs no URLs and
        derives no values of its own when writing `build-info.html`. That keeps the
        generation step a pure function of one response — testable against a fixture
        with no server, and incapable of drifting from server routing.
      tags: [builds]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildRegistration'
      responses:
        '201':
          description: Build registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '200':
          description: |
            Identical build already registered; existing record returned unchanged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized to register this build.
            Includes the claim-mismatch case, which names the specific mismatched
            field rather than failing generically (spec §4.5), reported via
            `error.code: claim_mismatch` with the mismatched field under
            `error.details` — see `ClaimMismatchDetails`. A previously bound
            repository whose policy was revoked reports `error.code: policy_revoked`.
            A repository with no live policy at all — never bound, or never
            reached `authorizeRepository` — reports `error.code: no_live_policy`;
            the message points the caller at the challenge/registration flow.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/builds/{buildInstanceId}:
    parameters:
      - $ref: '#/components/parameters/BuildInstanceId'
    get:
      operationId: getBuild
      summary: Fetch one build by its build-instance ID
      description: |
        This is the JSON equivalent of the authenticated tier of the resolution page.
        There is no unauthenticated variant of this endpoint: the public tier exists
        only as server-rendered HTML and OG tags (spec §2.7).
      tags: [builds]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Build detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/repositories/authorize:
    post:
      operationId: authorizeRepository
      summary: Redeem a challenge to bind a repository to an organization
      description: |
        Called by the CLI during CI, immediately before (or as part of)
        `registerBuild` — see `driftmapper/cli`'s `register` command.
        Authenticated with a workload OIDC token only, exactly like
        `registerBuild`: a human session can never bind a repository by
        itself, only a real CI token can (spec §4.5).

        In one atomic transaction: verifies the token, looks up the challenge
        by its presented value, resolves the issuing org, checks that org's
        plan slot, creates a trusted-workload policy from the **token's**
        claims (never the request body), and burns the challenge. All of it
        commits or none does — there is no window in which a challenge is
        consumed without a resulting policy, or vice versa.

        **Repository identity comes only from the verified token.** The
        request carries nothing but the challenge value itself.

        **Error responses never let a caller distinguish "this challenge
        value never existed" from "it existed but is no longer usable"**
        (expired, revoked, already redeemed, or over its attempt cap) — all
        of those collapse to the same `invalid_challenge` `403`. A caller
        that redeems the same already-consumed challenge again — e.g. a
        repo secret left in place after a successful first bind — gets this
        identical response; it cannot be distinguished from a value that was
        never valid. See `driftmapper/cli`'s docs for the operational
        implication (the CLI logs a one-time reminder to remove the secret
        on first successful redemption, rather than relying on repeat calls
        being silently safe).
      tags: [repos]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryAuthorizeRequest'
      responses:
        '201':
          description: Challenge redeemed; repository now bound to the org.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepositoryAuthorizationResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: |
            The issuing org's plan slot is exhausted. `error.code:
            upgrade_required` — actionable, names the limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '403':
          description: |
            `error.code: invalid_challenge` — the challenge is unusable, for
            any of the reasons described above, deliberately indistinguishable
            from each other.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '409':
          description: |
            `error.code: repository_already_bound` — the token's repository
            already has a live policy bound to a different organization.
            Explicit conflict, not a silent no-op.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '429':
          description: |
            `error.code: rate_limited` — too many redemption attempts.
            Distinct from the per-account challenge-issuance limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /v1/monitored-urls:
    post:
      operationId: createMonitoredUrl
      summary: Register a URL for drift polling
      description: |
        **Precondition (spec §2.6):** the repository must already be authorized to
        an organization and it must have at least one registered build. Polling
        before a build exists can only produce a spurious never-yet-succeeded
        notice, since there is no prior build-instance ID to diff against.
        Violations return `precondition_not_met`.

        The registered URL is fetched by an isolated worker with its own egress
        policy and restricted database role. Registering a URL that resolves to a
        private, link-local, or loopback address is rejected — evaluated after DNS
        resolution, and re-evaluated at every redirect hop.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repository_id, url]
              properties:
                repository_id:
                  type: string
                  description: Must reference a confirmed repository.
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: |
                    Absolute URL of the deployed `build-info.html`. HTTPS only.
                label:
                  type: string
                  maxLength: 128
                  description: Human label, e.g. "production" or "staging".
      responses:
        '201':
          description: URL registered; polling begins on the next scheduled cycle.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: This URL is already registered for this repository.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      operationId: listMonitoredUrls
      summary: List monitored URLs
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of monitored URLs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/monitored-urls/{monitoredUrlId}:
    parameters:
      - name: monitoredUrlId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getMonitoredUrl
      summary: Fetch one monitored URL, including its last-seen build
      description: |
        `last_seen_build_instance_id` is the CLI's "what is currently live at this
        URL" answer.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Monitored URL detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitoredUrl
      summary: Stop polling a URL
      description: |
        Polling stops immediately. Historical drift events are retained — they are
        observations that happened, and deleting them would falsify history.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/drift-events:
    get:
      operationId: listDriftEvents
      summary: List observed drift events
      description: |
        Only change events and integration-health transitions are stored — never raw
        poll logs (spec §2.6). An empty result means nothing changed, not that
        nothing was checked.

        This is explicitly not an uptime feed. A URL being unreachable surfaces as an
        `integration_health` event meaning "we cannot do our job at this URL", after
        a sustained-failure threshold; it is not an availability signal and must not
        be presented as one.
      tags: [drift-events]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
        - name: monitored_url_id
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/DriftEventType' }
        - name: observed_after
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of drift events, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriftEventListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orgs:
    post:
      operationId: createOrg
      summary: Create an organization
      description: |
        Creates a new, non-personal organization via the WorkOS API and adds the
        caller as its `owner` — distinct from the personal org every user already
        has, which is provisioned automatically on first sign-in and never created
        through this endpoint.
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      operationId: listOrgs
      summary: List the signed-in user's organizations
      description: |
        Every organization the caller is a member of, each with the caller's role
        in it. This is what the dashboard SPA's org context/switcher resolves
        against — not paginated (a user's org count is small by construction: one
        personal org plus however many they've created or been invited to).

        Ordered personal org first, then by creation date ascending.
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The caller's organizations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orgs/{slug}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: getOrg
      summary: Get one organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Organization detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateOrg
      summary: Rename an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
      responses:
        '200':
          description: Updated organization.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteOrg
      summary: Delete an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Organization deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/builds:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listBuilds
      summary: List builds for one organization
      description: |
        Org-scoped by URL, same convention as every other dashboard-tier list in this
        API — there is no session-tracked "current org" a flat path could resolve
        against, and a user may belong to more than one. Unrelated to
        `POST /v1/builds` (`registerBuild`), which stays flat: a workload OIDC token
        has no org/slug context at registration time, and the server resolves the
        owning org from the repository's authorization instead.
      tags: [builds]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
          description: Filter to one repository.
        - name: ref
          in: query
          schema: { type: string }
        - name: commit_sha
          in: query
          schema: { type: string }
        - name: registered_after
          in: query
          schema: { type: string, format: date-time }
        - name: registered_before
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of builds, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/repos:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listRepos
      summary: List confirmed repositories for one organization
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of confirmed repositories.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepositoryListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/challenges:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    post:
      operationId: createChallenge
      summary: Issue a single-use challenge for this organization
      description: |
        The first step of spec §4.5's onboarding flow: mints a cryptographically
        random, single-use, ~1hr-lived challenge, scoped to this org only —
        it asserts nothing about which repository. The human pastes the
        returned `value` into CI as a `DRIFTMAPPER_CHALLENGE` secret; the
        repository's own OIDC token later proves the rest at redemption
        (`authorizeRepository`).

        **`value` is returned exactly once, on this response only.** It is
        stored server-side as a hash, never recoverable afterward —
        `listChallenges` never includes it. Losing the value before it's
        pasted into CI means issuing a new challenge, not recovering the old
        one.

        Admin+ only, same bar as inviting a member: issuing a challenge is a
        setup action that can bind a new repository to this org.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '201':
          description: Challenge issued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChallengeIssuedResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: |
            `error.code: rate_limited` — too many challenges issued for this
            account recently. Distinct from redemption's own rate limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    get:
      operationId: listChallenges
      summary: List this organization's challenges
      description: |
        Lifecycle visibility for challenges issued via `createChallenge` —
        issued-at, expires-at, redemption/attempt state. **Never includes the
        raw value**, issued or not; that's `createChallenge`'s one-time
        response only. Member+, matching read access to every other
        onboarding-adjacent list in this API.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The organization's challenges, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChallengeListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/challenges/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    delete:
      operationId: revokeChallenge
      summary: Revoke an outstanding challenge before it's redeemed
      description: |
        A challenge pasted into a workflow and then thought better of needs a
        kill switch that doesn't require waiting out the TTL. Admin+, same
        bar as issuing one. An already-expired-but-unredeemed challenge can
        still be revoked (harmless — it's already unusable). An
        already-redeemed or already-revoked challenge cannot: there is
        nothing left to change, and this reports the same `404` a
        never-existed or another-org's id gets, so a guessed id can't be
        used to probe which case applies.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/policies:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listPolicies
      summary: List an organization's live trusted-workload policies
      description: |
        Lifecycle management for policies created by challenge redemption
        (`authorizeRepository`) — DRFT-63. A revoked policy drops off this
        list; build history remains available via `listBuilds` regardless
        (`builds.org_id` is never rewritten by revocation).
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The organization's live policies, newest binding first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PolicyListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/policies/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      operationId: updatePolicy
      summary: Narrow or widen a live policy's constraints
      description: |
        Full-replace on `workflow`/`ref`/`environment` — the only fields
        ever mutable after binding. `repository_id`, `issuer`, and `org_id`
        are absent from the request schema by construction: re-pointing a
        policy at a different repository or org is a new challenge, never
        an edit (spec §4.5).
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePolicyRequest' }
      responses:
        '204':
          description: Policy updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: revokePolicy
      summary: Revoke a live policy
      description: |
        Quiet and consequential (spec §4.5, DRFT-63): stops future build
        registration under this org, frees the repository to be re-bound by
        any org via a fresh challenge, and does not touch historical
        attribution — `builds.org_id` is never retroactively rewritten.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Policy revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/members:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listOrgMembers
      summary: List organization members and pending invites
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Members and pending invitations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgMembersResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/invites:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    post:
      operationId: inviteMember
      summary: Invite a member to an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string }
                role: { type: string, enum: [admin, member] }
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The address is already a member.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/invites/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        description: Opaque WorkOS invitation id, not a local numeric id.
        schema: { type: string }
    delete:
      operationId: revokeInvite
      summary: Revoke a pending organization invitation
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Invitation revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/members/{userID}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: userID
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      operationId: changeMemberRole
      summary: Change an organization member's role
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [owner, admin, member] }
      responses:
        '204':
          description: Member role changed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The change would leave the organization without an owner.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: removeMember
      summary: Remove a member from an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Member removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The removal would leave the organization without an owner.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/organization:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: getOrganization
      summary: One organization's plan
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Organization detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrganizationResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/billing/checkout-session:
    post:
      operationId: createCheckoutSession
      summary: Create a Stripe Checkout session
      description: |
        Returns a URL to redirect the browser to. Checkout itself is browser-native
        and is not reachable from the CLI (spec §5.2a).
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan, return_url]
              properties:
                plan:
                  $ref: '#/components/schemas/Plan'
                return_url:
                  type: string
                  format: uri
      responses:
        '201':
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [checkout_url]
                    properties:
                      checkout_url: { type: string, format: uri }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/billing/portal-session:
    post:
      operationId: createPortalSession
      summary: Create a Stripe billing-portal session
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [return_url]
              properties:
                return_url: { type: string, format: uri }
      responses:
        '201':
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [portal_url]
                    properties:
                      portal_url: { type: string, format: uri }
        '401':
          $ref: '#/components/responses/Unauthorized'

components:

  securitySchemes:
    workloadOidc:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The raw OIDC ID token minted by the CI provider, presented directly. The
        server verifies the signature against the issuer's JWKS and maps claims via
        the issuer registry (spec §4.3). Tokens are short-lived and provider-issued;
        Driftmapper never issues, stores, or accepts a static token.
    userSession:
      type: apiKey
      in: cookie
      name: wos-session
      description: WorkOS AuthKit session cookie (spec §4A).

  parameters:
    BuildInstanceId:
      name: buildInstanceId
      in: path
      required: true
      schema: { type: string }
      description: Opaque, server-issued build-instance ID.
    OrgSlug:
      name: slug
      in: path
      required: true
      schema: { type: string }
      description: The organization's URL slug.
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque cursor from a previous page's `next_cursor`.
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

  responses:
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Unauthorized:
      description: Missing, expired, or invalid credentials.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Forbidden:
      description: |
        Authenticated, but not permitted to perform this action — e.g. a member
        role attempting an admin+-only mutation.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    NotFound:
      description: |
        No such resource, or the caller is not entitled to know it exists. These are
        deliberately indistinguishable — a distinguishable 403 would let an
        unauthorized caller enumerate valid build-instance IDs.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    UnprocessableEntity:
      description: Well-formed request that violates a documented constraint.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    ServiceUnavailable:
      description: |
        A dependency this operation requires is not configured in this
        environment (`error.code: workos_disabled` today; the shape is generic
        so a future unrelated dependency can reuse it without a new response).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  schemas:

    ExchangeTokenRequest:
      type: object
      required: [code, code_verifier]
      additionalProperties: false
      properties:
        code:
          type: string
          description: Authorization code the SPA's `/callback` route received from WorkOS.
        code_verifier:
          type: string
          description: PKCE verifier matching the challenge sent to WorkOS's `/authorize`.

    WorkosUser:
      type: object
      description: |
        The subset of WorkOS's own user object the dashboard SPA needs, returned
        straight from token exchange — WorkOS's string user id, not this API's
        local numeric one (see `User` below). Deliberately not the same shape as
        `User`: this one is who WorkOS says signed in; `User` is this system's own
        record, fetched separately at `GET /v1/me` once a session exists.
      required: [id, email, email_verified]
      properties:
        id: { type: string }
        email: { type: string }
        email_verified: { type: boolean }

    ExchangeTokenResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [access_token, refresh_token, user]
          properties:
            access_token: { type: string }
            refresh_token: { type: string }
            user: { $ref: '#/components/schemas/WorkosUser' }

    User:
      type: object
      description: This system's own local mirror of the signed-in WorkOS user.
      required: [id, email, email_verified, email_notifications, created_at]
      properties:
        id:
          type: integer
          format: int64
        email: { type: string }
        email_verified: { type: boolean }
        email_notifications: { type: boolean }
        created_at: { type: string, format: date-time }

    UserResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/User' }

    Provider:
      type: string
      description: |
        CI provider identity. v1 supports GitHub Actions only; further providers are
        additive registry entries and appear here as new enum members (spec §4.4).
        Clients MUST tolerate unknown values in responses.

        `github` is the issuer registry entry name (`internal/oidc.GitHubActionsProviderName`
        server-side), not a literal "GitHub Actions" spelling — matches what every
        `provider`/`claims.Issuer` value on the wire actually contains.
      enum: [github]

    Plan:
      type: string
      enum: [free, paid, enterprise]

    Visibility:
      type: string
      description: |
        Derived from the `repository_visibility` OIDC claim, never client-supplied.
        This is what gates the Free tier's public-repo allowance (spec §6A), so it is
        enforced from the signed token with no VCS API call.
      enum: [public, private, internal]

    BuildMetadata:
      type: object
      description: |
        Free-form organization-defined fields (owning team, ticket reference,
        environment label). Flat string-to-string by design (spec §2.2a): nesting
        would destabilize the wire type under the compatibility window, hurt
        queryability, and invite this field to become a blob store.

        **Always authenticated-tier only.** Customers place arbitrary content here,
        and the two-tier disclosure model depends on knowing exactly what is public,
        so these values never appear in the unauthenticated resolution page or its OG
        tags. There is no per-key public opt-in in v1.

        Keys beginning `driftmapper.` are reserved and rejected, leaving room to
        promote custom fields to first-class ones later without collision. The
        reserved-prefix rule is enforced in server code rather than expressed in the
        `pattern` below: the natural expression is a negative lookahead, which Go's
        RE2 engine cannot compile, so encoding it here would produce a schema the
        server cannot mechanically enforce.
      maxProperties: 50
      propertyNames:
        maxLength: 64
        pattern: '^[A-Za-z0-9_.-]+$'
      additionalProperties:
        type: string
        maxLength: 1024

    BuildRegistration:
      type: object
      description: |
        Only fields the OIDC token cannot attest to. Everything derivable from
        verified claims is server-derived and rejected here (spec §2.2a).
      required: [commit_sha, built_at]
      additionalProperties: false
      properties:
        commit_sha:
          type: string
          minLength: 7
          maxLength: 64
        commit_author:
          type: string
          maxLength: 256
          description: Normalized by the CLI from provider-specific build context.
        commit_committer:
          type: string
          maxLength: 256
        built_at:
          type: string
          format: date-time
        trigger_event:
          type: string
          maxLength: 64
          description: Normalized trigger, e.g. `push`, `pull_request`, `manual`.
        metadata:
          $ref: '#/components/schemas/BuildMetadata'

    BuildPublic:
      type: object
      description: |
        The unauthenticated disclosure tier (spec §2.7). This is exactly what link
        unfurlers and logged-out visitors see on the resolution page: enough to make
        a preview useful and confirm the link is a real Driftmapper build link,
        and nothing more.

        Deliberately excludes committer, author, internal repository path, and all
        custom metadata. This tier matches the disclosure boundary teams already have
        with a plain public build-info file, so nothing that is public today becomes
        private and nothing private today becomes public.
      required: [build_instance_id, repository_name, built_at]
      properties:
        build_instance_id: { type: string }
        repository_name:
          type: string
          description: Short repository name only — never the full internal path.
        built_at: { type: string, format: date-time }

    Build:
      type: object
      description: The authenticated disclosure tier — full metadata (spec §2.7).
      required:
        - build_instance_id
        - repository_id
        - repository_name
        - visibility
        - commit_sha
        - ref
        - workflow
        - built_at
        - registered_at
        - bound
      properties:
        build_instance_id:
          type: string
          description: |
            Opaque and server-issued. Content-addressed over the tuple documented on
            `registerBuild`. Clients MUST treat this as opaque and MUST NOT parse it —
            the derivation is an implementation detail that may change.
        repository_id:
          type: string
          description: |
            Provider's stable repository identifier. Internal identity is keyed on
            this rather than `owner/name`, which changes on rename.
        repository_name: { type: string }
        repository_path:
          type: string
          description: Full `owner/name` path. Authenticated tier only.
        visibility: { $ref: '#/components/schemas/Visibility' }
        provider: { $ref: '#/components/schemas/Provider' }
        commit_sha: { type: string }
        commit_author: { type: string }
        commit_committer: { type: string }
        ref: { type: string }
        workflow: { type: string }
        run_id: { type: string }
        run_attempt:
          type: string
          description: |
            A passthrough OIDC claim value (GitHub's `run_attempt` claim is itself a
            string), never parsed or compared numerically server-side — only used as
            one input to the content-address tuple (spec §2.5a). Typed as a string
            rather than `integer` for that reason.
        trigger_event: { type: string }
        built_at: { type: string, format: date-time }
        registered_at: { type: string, format: date-time }
        resolution_url:
          type: string
          format: uri
          description: |
            Canonical resolution page for this build — the URL written into
            `build-info.html`. Server-provided so the CLI never constructs it and
            cannot drift from server routing.
        bound:
          type: boolean
          description: Whether this persisted build belongs to a currently bound repository.
        claim_url:
          type: string
          format: uri
          description: Signup URL included only when `bound` is false.
        metadata: { $ref: '#/components/schemas/BuildMetadata' }

    BuildResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Build' }

    BuildListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, page]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/Build' }
            page: { $ref: '#/components/schemas/PageInfo' }

    RepositoryAuthorizeRequest:
      type: object
      description: |
        Repository identity is never accepted here — it comes only from the
        verified workload OIDC token (spec §4.5), same rule as
        `BuildRegistration`'s token-derived fields.
      required: [challenge]
      additionalProperties: false
      properties:
        challenge:
          type: string
          description: |
            The single-use value issued by `POST /v1/orgs/{slug}/challenges`.
            Bearer secret — never logged, never written to disk by a
            conforming client.

    RepositoryAuthorization:
      type: object
      description: |
        Confirmation that a challenge was redeemed and the repository is now
        bound — not a full policy record (constraints, timestamps; see
        `Policy`/`listPolicies`, the dashboard-tier policy-management
        operations, DRFT-63).
      required: [repository_id, organization_id]
      properties:
        repository_id:
          type: string
          description: Provider's stable repository identifier, same identity space as `Build.repository_id`.
        organization_id: { type: string }

    RepositoryAuthorizationResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/RepositoryAuthorization' }

    # --- Challenges (DRFT-61) ----------------------------------------------
    #
    # Never carries the raw secret value except on ChallengeIssued, and only
    # there — createChallenge's response, once, per spec §4.5.
    Challenge:
      type: object
      required: [id, status, attempts, max_attempts, expires_at, created_at]
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [live, redeemed, revoked, expired]
          description: |
            Derived, not stored — see `model.Challenge.State()`. Does not
            reflect the attempt cap: a challenge that has hit `max_attempts`
            still reports `live` here until it also expires or is revoked
            (redemption itself is what enforces the cap; this field alone
            isn't sufficient to know whether a further redemption attempt
            would succeed).
        attempts:
          type: integer
          description: Failed redemption attempts against this challenge so far.
        max_attempts:
          type: integer
          description: |
            The cap `attempts` is counted against — past this, redemption
            rejects the challenge outright regardless of `status`/`expires_at`.
        redeemed_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    ChallengeIssued:
      allOf:
        - $ref: '#/components/schemas/Challenge'
        - type: object
          required: [value]
          properties:
            value:
              type: string
              description: |
                The raw, single-use challenge secret. Returned **only** by
                `createChallenge`, and only on that one response — never
                recoverable afterward, never present on `listChallenges`
                rows. Paste it into CI as `DRIFTMAPPER_CHALLENGE` before
                navigating away.

    ChallengeIssuedResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ChallengeIssued' }

    ChallengeListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Challenge' }

    # --- Policy lifecycle (DRFT-63) ---------------------------------------
    #
    # A policy's own fields carry no repository/org identity: those are
    # immutable by construction (see UpdatePolicyRequest) and already known
    # to a caller acting on one row from PolicyListResponse.
    Policy:
      type: object
      required: [id, state, bound_at]
      properties:
        id:
          type: integer
          format: int64
        workflow:
          type: string
          description: |
            Bare workflow-filename constraint (e.g. `ci.yml`). Null means
            unconstrained — redemption's default policy leaves it unset.
        ref:
          type: string
          description: Git ref constraint (e.g. `refs/heads/main`). Null means unconstrained.
        environment:
          type: string
          description: |
            Deployment-environment constraint. Null means unconstrained; an
            empty string is a real constraint meaning "must target no
            environment" (spec §4.5).
        state:
          type: string
          enum: [live, revoked]
        bound_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time }

    PolicyWithRepository:
      allOf:
        - $ref: '#/components/schemas/Policy'
        - type: object
          required: [repository_id, repository_path, provider]
          properties:
            repository_id: { type: string }
            repository_path: { type: string, description: '`owner/name` at time of binding.' }
            provider: { $ref: '#/components/schemas/Provider' }

    PolicyListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/PolicyWithRepository' }

    UpdatePolicyRequest:
      type: object
      description: |
        Full-replace on the three constrainable dimensions: omit a property
        or send it null to leave/set that dimension unconstrained, resubmit
        the current value for anything you're not changing. No
        `repository_id`/`issuer`/`org_id` property exists here — rebinding a
        policy to a different repository or org is a new challenge (DRFT-59/
        62), never an edit.
      additionalProperties: false
      properties:
        workflow: { type: string }
        ref: { type: string }
        environment: { type: string }

    MonitoredUrl:
      type: object
      required: [monitored_url_id, repository_id, url, health, created_at]
      properties:
        monitored_url_id: { type: string }
        repository_id: { type: string }
        url: { type: string, format: uri }
        label: { type: string }
        health: { $ref: '#/components/schemas/IntegrationHealth' }
        last_seen_build_instance_id:
          type: string
          description: |
            Most recent build-instance ID parsed at this URL. Null until the first
            successful poll.
        last_change_observed_at:
          type: string
          format: date-time
          description: |
            When the build ID at this URL last changed — not when it was last
            polled. Poll timestamps are not stored (spec §2.6).
        created_at: { type: string, format: date-time }

    MonitoredUrlResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/MonitoredUrl' }

    MonitoredUrlListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, page]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/MonitoredUrl' }
            page: { $ref: '#/components/schemas/PageInfo' }

    IntegrationHealth:
      type: string
      description: |
        Whether Driftmapper can do its job at this URL — not whether the site is up.

        - `pending` — registered, not yet successfully polled.
        - `ok` — last poll parsed a build ID.
        - `never_succeeded` — has never once succeeded. Surfaced immediately, since
          this almost always means a setup error, not an outage.
        - `failing` — previously succeeded, now failing past the sustained-failure
          threshold.
        - `unsupported_schema` — the file was fetched and parsed, but its
          `driftmapper:schema-version` is one this server does not understand. Held
          distinct from `failing` on purpose: it is neither drift nor a fetch error,
          and the remedy is different (upgrade the server or the CLI, not fix the
          deployment).
      enum: [pending, ok, never_succeeded, failing, unsupported_schema]

    DriftEventType:
      type: string
      enum: [build_id_changed, integration_health_changed]

    DriftEvent:
      type: object
      required: [drift_event_id, type, monitored_url_id, repository_id, observed_at]
      properties:
        drift_event_id: { type: string }
        type: { $ref: '#/components/schemas/DriftEventType' }
        monitored_url_id: { type: string }
        repository_id: { type: string }
        previous_build_instance_id:
          type: string
          description: Null for the first observation at a URL.
        current_build_instance_id: { type: string }
        previous_health: { $ref: '#/components/schemas/IntegrationHealth' }
        current_health: { $ref: '#/components/schemas/IntegrationHealth' }
        observed_at: { type: string, format: date-time }

    DriftEventListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, page]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/DriftEvent' }
            page: { $ref: '#/components/schemas/PageInfo' }

    Repository:
      type: object
      required: [repository_id, provider, path, visibility, linked_at]
      properties:
        repository_id: { type: string }
        provider: { $ref: '#/components/schemas/Provider' }
        path: { type: string, description: '`owner/name` at time of last build.' }
        visibility: { $ref: '#/components/schemas/Visibility' }
        latest_build_instance_id: { type: string }
        linked_at: { type: string, format: date-time }

    RepositoryListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, page]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/Repository' }
            page: { $ref: '#/components/schemas/PageInfo' }

    # Org/OrgWithRole (below) are deliberately distinct from Organization
    # (further below): this pair is the bare membership-list shape behind
    # `POST /v1/orgs` and `GET /v1/orgs` (create + switcher), while
    # Organization is `GET /v1/orgs/{slug}/organization`'s billing/plan/
    # slot-usage shape for one already-resolved org. Same underlying table,
    # two different response contracts for two different callers.
    Org:
      type: object
      required: [id, slug, name, personal, created_at]
      properties:
        id:
          type: integer
          format: int64
        slug: { type: string }
        name: { type: string }
        personal:
          type: boolean
          description: True for the user's auto-created personal org.
        created_at: { type: string, format: date-time }

    OrgWithRole:
      type: object
      required: [id, slug, name, personal, created_at, role]
      properties:
        id:
          type: integer
          format: int64
        slug: { type: string }
        name: { type: string }
        personal:
          type: boolean
          description: True for the user's auto-created personal org.
        created_at: { type: string, format: date-time }
        role:
          type: string
          enum: [owner, admin, member]
          description: The caller's role in this organization.

    OrgResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Org' }

    OrgListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/OrgWithRole' }

    Membership:
      type: object
      required: [id, org_id, user_id, role, created_at]
      properties:
        id: { type: integer, format: int64 }
        org_id: { type: integer, format: int64 }
        user_id: { type: integer, format: int64 }
        role: { type: string, enum: [owner, admin, member] }
        created_at: { type: string, format: date-time }

    MemberWithUser:
      allOf:
        - $ref: '#/components/schemas/Membership'
        - type: object
          required: [email]
          properties:
            email: { type: string }

    Invite:
      type: object
      required: [id, organization_id, email, state, expires_at]
      properties:
        id: { type: string, description: Opaque WorkOS invitation id. }
        organization_id: { type: string }
        email: { type: string }
        state: { type: string }
        expires_at: { type: string, description: ISO-8601, as reported by WorkOS. }

    OrgMembersResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [members, invites]
          properties:
            members:
              type: array
              items: { $ref: '#/components/schemas/MemberWithUser' }
            invites:
              type: array
              items: { $ref: '#/components/schemas/Invite' }

    InviteResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Invite' }

    Organization:
      type: object
      required: [organization_id, name, plan]
      properties:
        organization_id: { type: string }
        name: { type: string }
        plan: { $ref: '#/components/schemas/Plan' }
        sso_enforced: { type: boolean }

    OrganizationResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Organization' }

    PageInfo:
      type: object
      required: [has_more]
      properties:
        has_more: { type: boolean }
        next_cursor:
          type: string
          description: Present only when `has_more` is true.

    Error:
      type: object
      description: |
        The `error` half of the response envelope (see "Response envelope" above).
        Not RFC 9457 — a from-scratch shape matching what every `cmd/api` route
        actually emits (`internal/api/respond.go`'s `errorBody`).
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            Stable, machine-readable identity of the error. Clients branch on this,
            never on `message`, which may be reworded without a version bump.
            Examples: `validation`, `unauthorized`, `forbidden`, `not_found`,
            `unknown_field`, `claim_mismatch`, `policy_revoked`, `no_live_policy`.
        message:
          type: string
          description: Human-readable, safe to display directly.
        details:
          type: object
          description: |
            Structured, error-specific fields a client can act on programmatically.
            Present only for errors that have them (currently `claim_mismatch` —
            see `ClaimMismatchDetails`); absent otherwise.
          additionalProperties: true

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error: { $ref: '#/components/schemas/Error' }

    ClaimMismatchDetails:
      type: object
      description: |
        `error.details` shape when `error.code` is `claim_mismatch`: a signature-
        valid token whose claims did not satisfy the repository's authorization
        policy.

        The mismatched field is named explicitly rather than returning a generic
        authentication failure. This is the single most likely point of first-run
        abandonment — a case-sensitive workflow filename mismatch is a well-
        documented source of setup friction in comparable systems (spec §4.5) —
        and a specific error is cheap to produce and turns a dead end into a
        one-line fix.
      required: [mismatched_claim, expected, actual]
      properties:
        mismatched_claim:
          type: string
          description: e.g. `workflow`, `ref`, `environment`.
        expected:
          type: string
          description: Value the policy requires.
        actual:
          type: string
          description: |
            Value from the verified token. Safe to echo: the caller demonstrably
            already holds this token.
