openapi: 3.1.0

info:
  title: Driftmapper API
  version: 1.0.0
  summary: Build-info registration, resolution, and drift detection.
  description: |
    Source of truth for the Driftmapper wire contract. Go types (`oapi-codegen`,
    types-only) and TypeScript types (`openapi-typescript`) are generated from this
    file; neither is hand-maintained. See spec §5.1b.

    ## Stability tiers

    This document describes one API with two stability tiers. The tier is declared
    per-operation via `x-stability`.

    - `x-stability: public` — the CLI-facing contract. Published in the
      `driftmapper-protocol` Go module, semver'd on this document's version, and
      covered by the compatibility window below. CI pipelines pin CLI versions and
      are never force-upgraded, so these operations must remain backward compatible
      for years.
    - `x-stability: dashboard` — consumed only by the first-party dashboard SPA,
      which deploys in lockstep with the server. Types are generated into the SPA but
      NOT published in the public Go module. Free to change without a major version.

    **The public tier is six operations: `registerBuild`,
    `authorizeRepository`, `recordDeployment`, `getCurrentDeployment`,
    `getDeployment`, and `recordVerification`.**
    The CLI is a CI-pipeline tool first — it writes a build and generates an
    HTML file from the response. `authorizeRepository`
    is a deliberate exception (spec §4.5): redeeming a challenge to bind a
    repository is itself a write (a policy is created), called from the same
    customer CI the CLI already runs in, with the same permanent version-skew
    exposure as build registration. `recordDeployment` joins the public tier
    at inception rather than being promoted later, unlike
    `authorizeRepository` — it is CI-facing by construction
    (`driftmapper deploy` runs in the same CD pipeline the CLI already writes
    builds from), so there was never a dashboard-only period for it to start
    in. `getCurrentDeployment` and `recordVerification` complete the pair
    (DRFT-98/DRFT-101's opinionated verify): verification keys on an
    environment — you build an artifact, deploy an artifact, verify what's
    *currently* deployed — so `driftmapper verify <environment>` first reads
    the current deployment row (its expected build and recorded URL) via
    `getCurrentDeployment`, fetches that URL itself, parses the deployed
    `build-info.html` meta tags, compares what it found against that row,
    and records the outcome via `recordVerification`. The read is keyed by a
    name the caller already owns — the environment its own deploy step
    named — which is what keeps it public-tier-shaped; existence-hiding
    rules are identical to every other operation here. `getDeployment`
    remains alongside as the pinned-row read for callers addressing one
    specific historical claim rather than whatever is currently deployed.
    Every operation besides these six is `dashboard`.

    This is deliberately conservative rather than a judgement that these operations
    will never be CLI-facing; a fully featured CLI is an intended later iteration.
    Promoting an operation from `dashboard` to `public` later is additive and safe.
    Demoting one is a breaking change to a contract already pinned in customer CI,
    which is not. When in doubt, an operation starts `dashboard`.

    ## Compatibility policy

    The server supports the current major version and the two preceding majors (N-2)
    for `public` operations. Within a major version, only additive changes are
    permitted: new optional request fields, new response fields, new enum members in
    response-only positions. CI gates on `oasdiff` breaking-change detection against
    the previous tag, scoped to `public`-tier operations only — `dashboard`-tier
    paths are stripped from both sides of the diff before `oasdiff` runs (see
    `.github/workflows/oasdiff.yml` and `scripts/strip_dashboard_tier.py`), since
    that tier is explicitly exempt from this compatibility window.

    Clients MUST ignore unknown response fields. Servers MUST reject unknown request
    body fields (see the `unknown_field` error code below) rather than silently
    dropping them — silent drops turn a client bug into missing data discovered
    months later.

    ## Response envelope

    Every response is one JSON object with exactly one of `data`/`error` set —
    never both, never neither:

    - **Success**: `{"data": <schema>}`. `data` is the operation's documented
      response schema (a resource, or `{"data": [...], "page": {...}}` for a
      paginated list, itself nested inside the outer `data`).
    - **Failure**: `{"error": {"code", "message", "details"}}`, always
      `Content-Type: application/json` (never `application/problem+json` — this
      is a from-scratch envelope, not RFC 9457). `code` is the stable,
      machine-readable identifier clients branch on; `message` is a human-
      readable string that may be reworded without a version bump; `details` is
      present only for errors with structured, error-specific fields a client
      can act on (e.g. `claim_mismatch`'s `mismatched_claim`/`expected`/
      `actual` — spec §4.5) and is absent otherwise. See the `Error` schema.

    ## Authentication

    Two principals, deliberately non-interchangeable (spec §5.2a):

    - `workloadOidc` — a machine principal. The raw OIDC ID token issued by the CI
      provider, presented as a bearer credential. No Driftmapper-issued static token
      exists anywhere in this system (spec §4). This principal reaches exactly the
      public-tier operations: `registerBuild`, `authorizeRepository`,
      `recordDeployment`, `getCurrentDeployment`, `getDeployment`, and
      `recordVerification`.
    - `userSession` — a human principal, via the WorkOS AuthKit session cookie
      (spec §4A).

    A workload principal can never reach billing or membership operations: a
    compromised CI workflow must not be able to cancel a subscription or add an
    org member.

    There is deliberately no third principal *yet*. A human-scoped CLI credential
    (device-code flow or similar) is not needed while the CLI only writes from CI,
    so it is not specified here — a deferral, not a resolution. It becomes necessary
    the moment a CLI read command is intended to run from a developer's machine.
    Note that CLI reads running *in CI* would need no new principal, so if that
    capability is ever split from laptop-side reads, only the latter forces the
    decision. `getCurrentDeployment` is the first such CI-side read: it authenticates
    with the same workload OIDC token as the writes and is reachable only for
    deployments the token's repository (or a bound verifier of it) already owns
    or is authorized to verify.

    ## Not described here

    The `build-info.html` meta-tag format is also a public contract with third-party
    parsers, but it is not API-shaped. It is versioned separately in
    `FORMAT-build-info.md` in this repository (spec §2.3).

    The resolution page (`/r/{buildInstanceId}`) is server-rendered HTML, not a JSON
    endpoint (spec §2.7). Its two disclosure tiers correspond exactly to the
    `BuildPublic` and `Build` schemas below.

servers:
  - url: https://api.driftmapper.io
    description: Production

security:
  - userSession: []

tags:
  - name: auth
    description: |
      Dashboard SPA sign-in and account session management. All `dashboard`-
      tier: the CLI authenticates with `workloadOidc`, never these.
  - name: builds
    description: Build registration and lookup.
  - name: monitored-urls
    description: URLs polled for drift detection (spec §2.6).
  - name: drift-events
    description: Observed build-ID changes at monitored URLs.
  - name: repos
    description: |
      Repository authorization — binding a repository to an org via
      challenge redemption (spec §4.5), and listing already-bound repos.
  - name: deployments
    description: |
      Assertions in the deploy/verify coordinate space (spec's Slice 7): a
      deploy-mark records which build is currently live in a named
      environment; a verification records an identity asserting a build was
      observed live in one. Both land in one immutable ledger discriminated
      only by assertion `kind` — same coordinate space (build, environment,
      time), same shape. Distinct from `builds`, which is
      registration/lookup of the build artifact itself — both always
      reference an already-registered build. Their read-time comparison is
      the drift signal. Verification keys on a deployment row: the deploy
      step optionally records *where* it deployed (`url`), and the verifying
      step fetches that URL and compares what it finds against what the
      deployment claims — you build an artifact, deploy an artifact, verify a
      deployment.
  - name: orgs
    description: |
      Organization membership/switching for the signed-in user — which orgs they
      belong to and at what role. Distinct from `billing`, which covers a single
      already-resolved org's plan.
  - name: billing
    description: Subscription and checkout.

paths:
  /v1/auth/token:
    post:
      operationId: exchangeToken
      summary: Redeem a WorkOS authorization code for tokens
      description: |
        The second half of the dashboard SPA's PKCE sign-in, and the one part of
        that flow the browser cannot do itself: WorkOS's own token endpoint
        (`https://api.workos.com/user_management/authenticate`) sends no CORS
        headers on its response, so a browser can never read the result directly.
        This endpoint performs the exchange server-side with the server's WorkOS
        API key and relays the tokens back.

        Deliberately unauthenticated — it is how a caller becomes authenticated in
        the first place, so no bearer token exists yet. `code_verifier` (the PKCE
        proof that this caller is the one that started the flow) is the only
        credential guarding it, and the authorization code itself is single-use
        and short-lived at WorkOS: a replay is rejected the same as a wrong
        verifier.

        Also resolves the local user mirror (creating it on first sign-in), so it
        exists before the caller's next request rather than racing the first
        `GET /v1/me`.
      tags: [auth]
      x-stability: dashboard
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExchangeTokenRequest' }
      responses:
        '200':
          description: Exchange succeeded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExchangeTokenResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: |
            The code was invalid, expired, already redeemed, or did not match
            `code_verifier` (`error.code: invalid_grant` in every case — WorkOS
            does not distinguish these to the relying party, and neither does
            this endpoint).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/auth/logout:
    post:
      operationId: logout
      summary: Revoke the current WorkOS session
      description: |
        Revokes the session named by the bearer token's `sid` claim, so it (and
        any refresh token derived from it) stops working immediately rather than
        just expiring naturally.

        Not gated behind authentication in the usual sense: a missing, expired,
        or already-invalid bearer token is not an error here, it is simply
        nothing further to revoke. That keeps the operation idempotent — logging
        out twice, or logging out after the access token has already died, both
        just get a `204`.
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Session revoked, or there was none to revoke.

  /v1/me:
    get:
      operationId: getCurrentUser
      summary: Fetch the signed-in user
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/account/email-notifications:
    patch:
      operationId: updateEmailNotifications
      summary: Enable or disable account email notifications
      description: |
        The only account field mutable through this API. Email address,
        password, and verification status are WorkOS-owned — managed via
        AuthKit itself, not here.
      tags: [auth]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '204':
          description: Updated.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/builds:
    post:
      operationId: registerBuild
      summary: Register a build and receive its build-instance ID
      description: |
        Called by the CLI during CI. Authenticated with a workload OIDC token only —
        a human session cannot register builds, because build provenance derives
        entirely from verified token claims.

        **Token-derived fields are never accepted in the request body.** Repository
        identity, repository ID, ref, repository visibility, workflow, run ID, and
        run attempt are read from verified claims (spec §2.2a). Supplying any of them
        in the body is rejected with `unknown_field` — if the CLI could self-report
        the repository, any valid token holder could register builds attributed to a
        repository they do not control.

        **Idempotency (spec §2.5a).** The build-instance ID is content-addressed over
        the tuple:

            repository_id + commit_sha + ref + workflow + run_id + run_attempt

        A retried step within the same run attempt therefore resolves to the same ID
        and returns `200` — safe to retry on network failure without creating a
        duplicate. A manual re-run increments `run_attempt` and produces a new ID,
        which is correct: it is a genuinely distinct build instance. Note that
        `commit_sha` alone is insufficient, since the same commit legitimately builds
        many times.

        Registration requires the repository to already carry a live trusted-
        workload policy (spec §4.5) — bind the repository first via
        `authorizeRepository`, then register builds. A token for a repository
        with no live policy is rejected with `error.code: no_live_policy`.

        **This response is the CLI's only template input.** `build_instance_id` and
        `resolution_url` are both server-provided, and the CLI constructs no URLs and
        derives no values of its own when writing `build-info.html`. That keeps the
        generation step a pure function of one response — testable against a fixture
        with no server, and incapable of drifting from server routing.
      tags: [builds]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildRegistration'
      responses:
        '201':
          description: Build registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '200':
          description: |
            Identical build already registered; existing record returned unchanged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized to register this build.
            Includes the claim-mismatch case, which names the specific mismatched
            field rather than failing generically (spec §4.5), reported via
            `error.code: claim_mismatch` with the mismatched field under
            `error.details` — see `ClaimMismatchDetails`. A previously bound
            repository whose policy was revoked reports `error.code: policy_revoked`.
            A repository with no live policy at all — never bound, or never
            reached `authorizeRepository` — reports `error.code: no_live_policy`;
            the message points the caller at the challenge/registration flow.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/builds/{buildInstanceId}:
    parameters:
      - $ref: '#/components/parameters/BuildInstanceId'
    get:
      operationId: getBuild
      summary: Fetch one build by its build-instance ID
      description: |
        This is the JSON equivalent of the authenticated tier of the resolution page.
        There is no unauthenticated variant of this endpoint: the public tier exists
        only as server-rendered HTML and OG tags (spec §2.7).
      tags: [builds]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Build detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/repositories/authorize:
    post:
      operationId: authorizeRepository
      summary: Redeem a challenge to bind a repository to an organization
      description: |
        Called by the CLI during CI, immediately before (or as part of)
        `registerBuild` — see `driftmapper/cli`'s `register` command.
        Authenticated with a workload OIDC token only, exactly like
        `registerBuild`: a human session can never bind a repository by
        itself, only a real CI token can (spec §4.5).

        In one atomic transaction: verifies the token, looks up the challenge
        by its presented value, resolves the issuing org, checks that org's
        plan slot, creates a trusted-workload policy from the **token's**
        claims (never the request body), and burns the challenge. All of it
        commits or none does — there is no window in which a challenge is
        consumed without a resulting policy, or vice versa.

        **Repository identity comes only from the verified token.** The
        request carries nothing but the challenge value itself.

        **Error responses never let a caller distinguish "this challenge
        value never existed" from "it existed but is no longer usable"**
        (expired, revoked, already redeemed, or over its attempt cap) — all
        of those collapse to the same `invalid_challenge` `403`. A caller
        that redeems the same already-consumed challenge again — e.g. a
        repo secret left in place after a successful first bind — gets this
        identical response; it cannot be distinguished from a value that was
        never valid. See `driftmapper/cli`'s docs for the operational
        implication (the CLI logs a one-time reminder to remove the secret
        on first successful redemption, rather than relying on repeat calls
        being silently safe).
      tags: [repos]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryAuthorizeRequest'
      responses:
        '201':
          description: Challenge redeemed; repository now bound to the org.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepositoryAuthorizationResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: |
            The issuing org's plan slot is exhausted. `error.code:
            upgrade_required` — actionable, names the limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '403':
          description: |
            `error.code: invalid_challenge` — the challenge is unusable, for
            any of the reasons described above, deliberately indistinguishable
            from each other.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '409':
          description: |
            `error.code: repository_already_bound` — the token's repository
            already has a live policy bound to a different organization.
            Explicit conflict, not a silent no-op.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '429':
          description: |
            `error.code: rate_limited` — too many redemption attempts.
            Distinct from the per-account challenge-issuance limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /v1/deployments:
    post:
      operationId: recordDeployment
      summary: Record that a build is deployed to an environment
      description: |
        Called by the CLI during CD (`driftmapper deploy`), or any CI/CD
        system able to present the same workload OIDC token used for build
        registration. Authenticated with a workload OIDC token only — a
        human session cannot use this endpoint; see
        `recordDeploymentForBuild` for the dashboard-tagging equivalent
        covering deploys that don't originate from CLI-integrated CI.

        **Repository identity comes only from the verified token**, exactly
        like `registerBuild`: the token's repository must already carry a
        live trusted-workload policy (spec §4.5), checked via the identical
        `ResolveWorkload` logic `registerBuild` uses rather than a separate
        one. A token for a repository with no live policy is rejected with
        `error.code: no_live_policy`, one with a revoked policy with
        `error.code: policy_revoked`, and one whose workflow/ref/environment
        claims don't satisfy the policy's optional constraints with
        `error.code: claim_mismatch` — the same three cases and codes
        `registerBuild` reports for the same underlying check.

        **Naming collision to be aware of:** the claim-mismatch case above
        can name `environment` as the mismatched field, but that refers to
        the *token's* `environment` claim (which GitHub Environment, if any,
        the CI job ran under — an optional policy constraint) — a completely
        different thing from this request's own `environment` field (the
        free-text deploy-target name, e.g. `production`). The two share a
        name but nothing else; a workflow can be constrained to a specific
        CI-side Environment and still record a deployment to any
        deploy-target environment name.

        **`commit_sha` resolves to a build belonging to the token's
        repository.** The server looks up the newest registered build for
        `(repository_id, commit_sha)`, `repository_id` coming only from the
        verified token. An unknown commit, or one belonging to a different
        repository, reports the same `404`, deliberately indistinguishable
        (existence hiding — a distinguishable error would let a valid token
        holder probe which commits belong to which repository). A commit
        with more than one registered build resolves to the newest by
        `registered_at` — a manual re-run bumps only `run_attempt`, and
        multiple workflows can register the same commit.

        **Environment names** are validated server-side against a
        DNS-label-style rule — see `Deployment.environment`'s description
        below. There is no pre-registration step; a name is accepted or
        rejected outright on submission, and the dashboard always shows the
        full distinct-environment list for a repository so a typo'd
        near-duplicate is visible on sight rather than silently split into
        two.

        **`url` (optional) records where this deployment lives** — the
        absolute URL of the deployed `build-info.html`. It is what makes
        deployment-keyed verification possible: `driftmapper verify
        <environment>` fetches this URL and compares the meta tags it
        finds against this row's build (`getCurrentDeployment` +
        `recordVerification`, DRFT-98/DRFT-101). Omitting it keeps the row
        verify-able only by explicit-URL callers; recording it is strongly
        recommended.

        **Timing and ordering.** The server stamps `created_at` at request
        time — the client never sends a timestamp. Rows always arrive in
        order; "currently deployed" for an environment is always the row
        with the maximum `created_at`. A rollback is just another call
        naming an earlier build — there is no update or delete operation on
        this ledger, ever.

        **Idempotency.** Dedupe key is
        `(repository_id, environment, build_instance_id, run_id, run_attempt)`,
        `run_id`/`run_attempt` coming from the verified token's OIDC claims
        (the deploy-triggering run's identity, not the build's). An
        identical retry (e.g. after a network failure) resolves to the same
        row and returns `200`, mirroring `registerBuild`'s own 201/200
        split. A later run for the same build/environment — a genuine
        roll-forward, not a retry — inserts a new row and returns `201`.

        A build deployed to multiple environments concurrently is the
        normal case, not special-cased — call this once per environment.
      tags: [deployments]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
      responses:
        '201':
          description: Deployment recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentResponse' }
        '200':
          description: |
            Identical deployment already recorded (same dedupe key);
            existing record returned unchanged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized for this
            deployment. `error.code: claim_mismatch` names the specific
            mismatched field under `error.details` — see
            `ClaimMismatchDetails` — and note the `environment` naming
            collision described above. A previously bound repository whose
            policy was revoked reports `error.code: policy_revoked`. A
            repository with no live policy at all reports
            `error.code: no_live_policy`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '404':
          description: |
            `commit_sha` has no registered build under the token's
            repository, or has one belonging to a different repository —
            deliberately indistinguishable, as described above.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/deployments/{deploymentId}:
    parameters:
      - $ref: '#/components/parameters/DeploymentId'
    get:
      operationId: getDeployment
      summary: Fetch one deployment by its ledger row ID
      description: |
        The pinned-row companion to `getCurrentDeployment`: reads one
        specific ledger row by ID — useful when a caller wants a particular
        historical claim rather than whatever is currently deployed (audit
        tooling, verifying a specific rollout).

        Authenticated with a workload OIDC token, exactly like the writes.
        Authorization mirrors `getCurrentDeployment`'s: same-repository rows
        are readable by the token's own repository; cross-repo readers need
        an active binding of `kind='verify'` for that
        `(acting_repository_id, target_repository_id)` pair — a read
        cannot outrun the write it feeds.

        **404s are deliberately indistinguishable**: unknown ID, a
        deployment belonging to another repository, and a cross-repo row
        with no verify binding all report the same `not_found` (existence
        hiding), the same convention every other operation in this API uses.
      tags: [deployments]
      x-stability: public
      security:
        - workloadOidc: []
      responses:
        '200':
          description: The deployment.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized. `error.code:
            no_live_policy`, `policy_revoked`, or `claim_mismatch` — the
            same three cases every other workload-OIDC operation reports for
            the underlying trusted-workload-policy check.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '404':
          description: |
            No such deployment, or the caller is not entitled to know it
            exists — deliberately indistinguishable, as described above.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /v1/deployments/current:
    get:
      operationId: getCurrentDeployment
      summary: Fetch the deployment currently claimed for an environment
      description: |
        The CI-side read half of deployment-keyed verification
        (`driftmapper verify <environment>`, DRFT-98/DRFT-101): the
        verifying step knows a constant — an environment name its own
        deploy step already used — and needs what the *current* deployment
        row carries: the expected `build_instance_id`, and (when recorded)
        the `url` to fetch.

        "Currently deployed" is the newest `kind='deploy'` row for
        `(repository_id, environment)` by `created_at` — never a
        client-supplied notion of currency. Environments need no
        pre-registration: a name comes into existence when the first
        deployment claims it, so an unknown name and a typo'd near-duplicate
        are indistinguishable from each other here (and from the cross-repo
        case below); the dashboard's distinct-environment list is where a
        typo becomes visible on sight.

        Authenticated with a workload OIDC token, exactly like the writes.
        By default the read resolves against the token's own repository.
        Passing `repo` (`owner/name`) targets another repository's
        environment and requires an active binding of `kind='verify'` for
        that `(acting_repository_id, target_repository_id)` pair —
        independent verification by a separate repository (e.g. an e2e
        suite asserting after its own checks) is a first-class use case,
        gated by the same admin-created binding `recordVerification`
        honors. A read cannot outrun the write it feeds.

        **404s are deliberately indistinguishable**: no rows yet for the
        environment, a misspelled environment name, an unknown target
        repository, and a cross-repo request with no verify binding all
        report the same `not_found` (existence hiding), the same convention
        every other operation in this API uses.
      tags: [deployments]
      x-stability: public
      security:
        - workloadOidc: []
      parameters:
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/TargetRepository'
      responses:
        '200':
          description: |
            The deployment currently claimed for that environment. `url` is
            null when the deploy step recorded none — verification then
            needs the caller to supply the fetch target itself.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized. `error.code:
            no_live_policy`, `policy_revoked`, or `claim_mismatch` — the
            same three cases every other workload-OIDC operation reports for
            the underlying trusted-workload-policy check.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '404':
          description: |
            Nothing verifiable under that coordinate — deliberately
            indistinguishable, as described above.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  /v1/verifications:
    post:
      operationId: recordVerification
      summary: Record that a build was verified live in an environment
      description: |
        Called by the CLI during CD (`driftmapper verify <environment>`),
        or any CI/CD system able to present the same workload OIDC token used
        for build registration. Authenticated with a workload OIDC token
        only — a human session cannot use this endpoint.

        **The caller checks reality; this endpoint records what was found.**
        Verification keys on an environment's current deployment — you build
        an artifact, deploy an artifact, verify what's currently deployed.
        The verifying step resolves the current deployment via
        `getCurrentDeployment`, fetches its recorded URL
        itself, parses the deployed `build-info.html` meta tags (spec §2.3's
        contract), compares the observed build-instance ID against the
        deployment's expected one, and reports here. DriftMapper-the-service
        still never fetches the environment itself (spec DRFT-27) — the fetch
        lives in the customer's own CI, which is a strictly better trust
        position than server-side polling. The outcome fields below record
        the finding: `outcome: verified` on a match, `mismatch` when the
        observed build differs from the deployment's expectation (the drift
        signal, recorded as data rather than rejected), and `fetch_failed` /
        `parse_failed` when nothing observable could be learned — failed
        observations are assertions too. Rows stay insert-only immutable
        claims in the same coordinate space as deploys (build, environment,
        time); "verified" remains a read-time comparison of the latest
        claims, and a disagreement between them *is* the signal, not an
        error state. Citing a deployment never blocks, retries, or mutates
        it — verification runs on its own schedule, independent of deploy.

        **`build_instance_id` names the checked deployment's expected
        build**; `observed_build_instance_id` carries what the meta tags
        actually said (null when nothing could be parsed). The server
        resolves the build's **owning** repository from the ID, never from
        the token.

        **Repository identity comes only from the verified token**, exactly
        like `recordDeployment`: the token's repository must already carry a
        live trusted-workload policy (spec §4.5), checked via the identical
        `ResolveWorkload` logic — the same `no_live_policy`,
        `policy_revoked`, and `claim_mismatch` error cases apply. When the
        token's repository is not the build's owning repository, an active
        `bindings` row of `kind='verify'` for that
        `(acting_repository_id, target_repository_id)` pair is required; a
        missing one reports the same `404` an unknown build-instance ID gets
        (existence hiding).

        **Environment names** are validated server-side against the same
        DNS-label-style rule as `recordDeployment` — see
        `Verification.environment` below. The server stamps `created_at` at
        request time; the client never sends a timestamp.

        **Idempotency.** Dedupe key is
        `(kind, repository_id, environment, build_instance_id, run_id,
        run_attempt)`, `run_id`/`run_attempt` coming from the verified token's
        OIDC claims (the verifying run's identity). An identical retry
        resolves to the same row and returns `200`, mirroring
        `recordDeployment`'s own 201/200 split.
      tags: [deployments]
      x-stability: public
      security:
        - workloadOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationRequest'
      responses:
        '201':
          description: Verification recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerificationResponse' }
        '200':
          description: |
            Identical verification already recorded (same dedupe key);
            existing record returned unchanged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerificationResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Token is signature-valid but not authorized for this
            verification. `error.code: claim_mismatch` names the specific
            mismatched field under `error.details` — see
            `ClaimMismatchDetails`. A previously bound repository whose
            policy was revoked reports `error.code: policy_revoked`. A
            repository with no live policy at all reports
            `error.code: no_live_policy`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '404':
          description: |
            `build_instance_id` has no registered build, or (for a cross-repo
            verifier) belongs to a repository the caller has no `kind='verify'`
            binding to — deliberately indistinguishable, as described above.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/monitored-urls:
    post:
      operationId: createMonitoredUrl
      summary: Register a URL for drift polling
      description: |
        **Precondition (spec §2.6):** the repository must already be authorized to
        an organization and it must have at least one registered build. Polling
        before a build exists can only produce a spurious never-yet-succeeded
        notice, since there is no prior build-instance ID to diff against.
        Violations return `precondition_not_met`.

        The registered URL is fetched by an isolated worker with its own egress
        policy and restricted database role. Registering a URL that resolves to a
        private, link-local, or loopback address is rejected — evaluated after DNS
        resolution, and re-evaluated at every redirect hop.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repository_id, url]
              properties:
                repository_id:
                  type: string
                  description: Must reference a confirmed repository.
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: |
                    Absolute URL of the deployed `build-info.html`. HTTPS only.
                label:
                  type: string
                  maxLength: 128
                  description: Human label, e.g. "production" or "staging".
      responses:
        '201':
          description: URL registered; polling begins on the next scheduled cycle.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: This URL is already registered for this repository.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      operationId: listMonitoredUrls
      summary: List monitored URLs
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of monitored URLs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/monitored-urls/{monitoredUrlId}:
    parameters:
      - name: monitoredUrlId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getMonitoredUrl
      summary: Fetch one monitored URL, including its last-seen build
      description: |
        `last_seen_build_instance_id` is the CLI's "what is currently live at this
        URL" answer.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Monitored URL detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MonitoredUrlResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitoredUrl
      summary: Stop polling a URL
      description: |
        Polling stops immediately. Historical drift events are retained — they are
        observations that happened, and deleting them would falsify history.
      tags: [monitored-urls]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/drift-events:
    get:
      operationId: listDriftEvents
      summary: List observed drift events
      description: |
        Only change events and integration-health transitions are stored — never raw
        poll logs (spec §2.6). An empty result means nothing changed, not that
        nothing was checked.

        This is explicitly not an uptime feed. A URL being unreachable surfaces as an
        `integration_health` event meaning "we cannot do our job at this URL", after
        a sustained-failure threshold; it is not an availability signal and must not
        be presented as one.
      tags: [drift-events]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
        - name: monitored_url_id
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/DriftEventType' }
        - name: observed_after
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of drift events, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriftEventListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orgs:
    post:
      operationId: createOrg
      summary: Create an organization
      description: |
        Creates a new, non-personal organization via the WorkOS API and adds the
        caller as its `owner` — distinct from the personal org every user already
        has, which is provisioned automatically on first sign-in and never created
        through this endpoint.
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      operationId: listOrgs
      summary: List the signed-in user's organizations
      description: |
        Every organization the caller is a member of, each with the caller's role
        in it. This is what the dashboard SPA's org context/switcher resolves
        against — not paginated (a user's org count is small by construction: one
        personal org plus however many they've created or been invited to).

        Ordered personal org first, then by creation date ascending.
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The caller's organizations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/orgs/{slug}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: getOrg
      summary: Get one organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Organization detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateOrg
      summary: Rename an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
      responses:
        '200':
          description: Updated organization.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteOrg
      summary: Delete an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Organization deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/builds:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listBuilds
      summary: List builds for one organization
      description: |
        Org-scoped by URL, same convention as every other dashboard-tier list in this
        API — there is no session-tracked "current org" a flat path could resolve
        against, and a user may belong to more than one. Unrelated to
        `POST /v1/builds` (`registerBuild`), which stays flat: a workload OIDC token
        has no org/slug context at registration time, and the server resolves the
        owning org from the repository's authorization instead.
      tags: [builds]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - name: repository_id
          in: query
          schema: { type: string }
          description: Filter to one repository.
        - name: ref
          in: query
          schema: { type: string }
        - name: commit_sha
          in: query
          schema: { type: string }
        - name: registered_after
          in: query
          schema: { type: string, format: date-time }
        - name: registered_before
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of builds, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/builds/{buildInstanceId}/deployments:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - $ref: '#/components/parameters/BuildInstanceId'
    post:
      operationId: recordDeploymentForBuild
      summary: Tag a build as deployed to an environment (dashboard)
      description: |
        The manual-tagging fallback for deploys that don't originate from
        CLI-integrated CI (spec's deploy-marking design) — lives on the
        existing resolution page (`/r/{buildInstanceId}`), a one-shot
        action rather than a dedicated SPA surface. Human principal only,
        same `OrgScoped` gate shape as `revokePolicy`: Admin/Owner
        required, since this writes to the deployment audit trail on the
        caller's behalf, not just reads it.

        `buildInstanceId` is resolved from the URL, and the build must
        already belong to `slug`'s organization — a build belonging to a
        different org reports the same `404` an unknown build-instance ID
        gets (existence hiding, the same convention every other
        organization-scoped resource in this API uses).

        Shares environment-name validation and server-stamped `created_at`
        with `recordDeployment`, but sits outside that endpoint's dedupe
        index: there is no run identity on this path (no OIDC token), so
        every call inserts a new row and returns `201` — always, never
        `200`, even for an apparent repeat. The differences from the CI
        path are how the repository is resolved (from the build's own
        binding, not a fresh OIDC token), who gets attributed in
        `deployed_by` (`user:<id>` here, versus a workload identity on the
        CI path), and that `run_id`/`run_attempt` are always absent on
        rows this endpoint writes.
      tags: [deployments]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployBuildRequest'
      responses:
        '201':
          description: |
            Deployment recorded. Always `201` on this path — there is no
            run identity to dedupe against, so an apparent repeat still
            inserts a new row.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/repos:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listRepos
      summary: List confirmed repositories for one organization
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of confirmed repositories.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepositoryListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/challenges:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    post:
      operationId: createChallenge
      summary: Issue a single-use challenge for this organization
      description: |
        The first step of spec §4.5's onboarding flow: mints a cryptographically
        random, single-use, ~1hr-lived challenge, scoped to this org only —
        it asserts nothing about which repository. The human pastes the
        returned `value` into CI as a `DRIFTMAPPER_CHALLENGE` secret; the
        repository's own OIDC token later proves the rest at redemption
        (`authorizeRepository`).

        **`value` is returned exactly once, on this response only.** It is
        stored server-side as a hash, never recoverable afterward —
        `listChallenges` never includes it. Losing the value before it's
        pasted into CI means issuing a new challenge, not recovering the old
        one.

        Admin+ only, same bar as inviting a member: issuing a challenge is a
        setup action that can bind a new repository to this org.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '201':
          description: Challenge issued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChallengeIssuedResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: |
            `error.code: rate_limited` — too many challenges issued for this
            account recently. Distinct from redemption's own rate limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    get:
      operationId: listChallenges
      summary: List this organization's challenges
      description: |
        Lifecycle visibility for challenges issued via `createChallenge` —
        issued-at, expires-at, redemption/attempt state. **Never includes the
        raw value**, issued or not; that's `createChallenge`'s one-time
        response only. Member+, matching read access to every other
        onboarding-adjacent list in this API.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The organization's challenges, newest first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChallengeListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/challenges/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    delete:
      operationId: revokeChallenge
      summary: Revoke an outstanding challenge before it's redeemed
      description: |
        A challenge pasted into a workflow and then thought better of needs a
        kill switch that doesn't require waiting out the TTL. Admin+, same
        bar as issuing one. An already-expired-but-unredeemed challenge can
        still be revoked (harmless — it's already unusable). An
        already-redeemed or already-revoked challenge cannot: there is
        nothing left to change, and this reports the same `404` a
        never-existed or another-org's id gets, so a guessed id can't be
        used to probe which case applies.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/policies:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listPolicies
      summary: List an organization's live trusted-workload policies
      description: |
        Lifecycle management for policies created by challenge redemption
        (`authorizeRepository`) — DRFT-63. A revoked policy drops off this
        list; build history remains available via `listBuilds` regardless
        (`builds.org_id` is never rewritten by revocation).
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: The organization's live policies, newest binding first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PolicyListResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/policies/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      operationId: updatePolicy
      summary: Narrow or widen a live policy's constraints
      description: |
        Full-replace on `workflow`/`ref`/`environment` — the only fields
        ever mutable after binding. `repository_id`, `issuer`, and `org_id`
        are absent from the request schema by construction: re-pointing a
        policy at a different repository or org is a new challenge, never
        an edit (spec §4.5).
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePolicyRequest' }
      responses:
        '204':
          description: Policy updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: revokePolicy
      summary: Revoke a live policy
      description: |
        Quiet and consequential (spec §4.5, DRFT-63): stops future build
        registration under this org, frees the repository to be re-bound by
        any org via a fresh challenge, and does not touch historical
        attribution — `builds.org_id` is never retroactively rewritten.
      tags: [repos]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Policy revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/members:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: listOrgMembers
      summary: List organization members and pending invites
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Members and pending invitations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrgMembersResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/invites:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    post:
      operationId: inviteMember
      summary: Invite a member to an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string }
                role: { type: string, enum: [admin, member] }
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The address is already a member.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/invites/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: id
        in: path
        required: true
        description: Opaque WorkOS invitation id, not a local numeric id.
        schema: { type: string }
    delete:
      operationId: revokeInvite
      summary: Revoke a pending organization invitation
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Invitation revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/orgs/{slug}/members/{userID}:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
      - name: userID
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      operationId: changeMemberRole
      summary: Change an organization member's role
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [owner, admin, member] }
      responses:
        '204':
          description: Member role changed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The change would leave the organization without an owner.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: removeMember
      summary: Remove a member from an organization
      tags: [orgs]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '204':
          description: Member removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The removal would leave the organization without an owner.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/orgs/{slug}/organization:
    parameters:
      - $ref: '#/components/parameters/OrgSlug'
    get:
      operationId: getOrganization
      summary: One organization's plan
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      responses:
        '200':
          description: Organization detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrganizationResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/billing/checkout-session:
    post:
      operationId: createCheckoutSession
      summary: Create a Stripe Checkout session
      description: |
        Returns a URL to redirect the browser to. Checkout itself is browser-native
        and is not reachable from the CLI (spec §5.2a).
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan, return_url]
              properties:
                plan:
                  $ref: '#/components/schemas/Plan'
                return_url:
                  type: string
                  format: uri
      responses:
        '201':
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [checkout_url]
                    properties:
                      checkout_url: { type: string, format: uri }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/billing/portal-session:
    post:
      operationId: createPortalSession
      summary: Create a Stripe billing-portal session
      tags: [billing]
      x-stability: dashboard
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [return_url]
              properties:
                return_url: { type: string, format: uri }
      responses:
        '201':
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [portal_url]
                    properties:
                      portal_url: { type: string, format: uri }
        '401':
          $ref: '#/components/responses/Unauthorized'

components:

  securitySchemes:
    workloadOidc:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The raw OIDC ID token minted by the CI provider, presented directly. The
        server verifies the signature against the issuer's JWKS and maps claims via
        the issuer registry (spec §4.3). Tokens are short-lived and provider-issued;
        Driftmapper never issues, stores, or accepts a static token.
    userSession:
      type: apiKey
      in: cookie
      name: wos-session
      description: WorkOS AuthKit session cookie (spec §4A).

  parameters:
    BuildInstanceId:
      name: buildInstanceId
      in: path
      required: true
      schema: { type: string }
      description: Opaque, server-issued build-instance ID.
    DeploymentId:
      name: deploymentId
      in: path
      required: true
      schema: { type: integer, format: int64 }
      description: Assertion-ledger row ID (`Deployment.id`) — a specific historical claim, addressable directly via `getDeployment`.
    Environment:
      name: env
      in: query
      required: true
      schema:
        type: string
        pattern: '^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$'
      description: |
        The deploy-target environment whose current deployment to read — the
        same free-text, repository-scoped name `recordDeployment` accepted,
        spelled identically. No pre-registration step exists, so an unknown
        name is indistinguishable from an empty one (existence hiding).
    TargetRepository:
      name: repo
      in: query
      schema: { type: string }
      description: |
        Optional `owner/name` of another repository whose environment to
        read — for independent verification by a separate repository (an
        e2e suite verifying the deployer's environment). Requires an active
        `kind='verify'` binding; without one, indistinguishable from any
        other 404. Omit to read the token's own repository.
    OrgSlug:
      name: slug
      in: path
      required: true
      schema: { type: string }
      description: The organization's URL slug.
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque cursor from a previous page's `next_cursor`.
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

  responses:
    BadRequest:
      description: Malformed request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Unauthorized:
      description: Missing, expired, or invalid credentials.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Forbidden:
      description: |
        Authenticated, but not permitted to perform this action — e.g. a member
        role attempting an admin+-only mutation.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    NotFound:
      description: |
        No such resource, or the caller is not entitled to know it exists. These are
        deliberately indistinguishable — a distinguishable 403 would let an
        unauthorized caller enumerate valid build-instance IDs.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    UnprocessableEntity:
      description: Well-formed request that violates a documented constraint.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    ServiceUnavailable:
      description: |
        A dependency this operation requires is not configured in this
        environment (`error.code: workos_disabled` today; the shape is generic
        so a future unrelated dependency can reuse it without a new response).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }

  schemas:

    ExchangeTokenRequest:
      type: object
      required: [code, code_verifier]
      additionalProperties: false
      properties:
        code:
          type: string
          description: Authorization code the SPA's `/callback` route received from WorkOS.
        code_verifier:
          type: string
          description: PKCE verifier matching the challenge sent to WorkOS's `/authorize`.

    WorkosUser:
      type: object
      description: |
        The subset of WorkOS's own user object the dashboard SPA needs, returned
        straight from token exchange — WorkOS's string user id, not this API's
        local numeric one (see `User` below). Deliberately not the same shape as
        `User`: this one is who WorkOS says signed in; `User` is this system's own
        record, fetched separately at `GET /v1/me` once a session exists.
      required: [id, email, email_verified]
      properties:
        id: { type: string }
        email: { type: string }
        email_verified: { type: boolean }

    ExchangeTokenResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [access_token, refresh_token, user]
          properties:
            access_token: { type: string }
            refresh_token: { type: string }
            user: { $ref: '#/components/schemas/WorkosUser' }

    User:
      type: object
      description: This system's own local mirror of the signed-in WorkOS user.
      required: [id, email, email_verified, email_notifications, created_at]
      properties:
        id:
          type: integer
          format: int64
        email: { type: string }
        email_verified: { type: boolean }
        email_notifications: { type: boolean }
        created_at: { type: string, format: date-time }

    UserResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/User' }

    Provider:
      type: string
      description: |
        CI provider identity. v1 supports GitHub Actions only; further providers are
        additive registry entries and appear here as new enum members (spec §4.4).
        Clients MUST tolerate unknown values in responses.

        `github` is the issuer registry entry name (`internal/oidc.GitHubActionsProviderName`
        server-side), not a literal "GitHub Actions" spelling — matches what every
        `provider`/`claims.Issuer` value on the wire actually contains.
      enum: [github]

    Plan:
      type: string
      enum: [free, paid, enterprise]

    Visibility:
      type: string
      description: |
        Derived from the `repository_visibility` OIDC claim, never client-supplied.
        This is what gates the Free tier's public-repo allowance (spec §6A), so it is
        enforced from the signed token with no VCS API call.
      enum: [public, private, internal]

    BuildMetadata:
      type: object
      description: |
        Free-form organization-defined fields (owning team, ticket reference,
        environment label). Flat string-to-string by design (spec §2.2a): nesting
        would destabilize the wire type under the compatibility window, hurt
        queryability, and invite this field to become a blob store.

        **Always authenticated-tier only.** Customers place arbitrary content here,
        and the two-tier disclosure model depends on knowing exactly what is public,
        so these values never appear in the unauthenticated resolution page or its OG
        tags. There is no per-key public opt-in in v1.

        Keys beginning `driftmapper.` are reserved and rejected, leaving room to
        promote custom fields to first-class ones later without collision. The
        reserved-prefix rule is enforced in server code rather than expressed in the
        `pattern` below: the natural expression is a negative lookahead, which Go's
        RE2 engine cannot compile, so encoding it here would produce a schema the
        server cannot mechanically enforce.
      maxProperties: 50
      propertyNames:
        maxLength: 64
        pattern: '^[A-Za-z0-9_.-]+$'
      additionalProperties:
        type: string
        maxLength: 1024

    BuildRegistration:
      type: object
      description: |
        Only fields the OIDC token cannot attest to. Everything derivable from
        verified claims is server-derived and rejected here (spec §2.2a).
      required: [commit_sha, built_at]
      additionalProperties: false
      properties:
        commit_sha:
          type: string
          minLength: 7
          maxLength: 64
        commit_author:
          type: string
          maxLength: 256
          description: Normalized by the CLI from provider-specific build context.
        commit_committer:
          type: string
          maxLength: 256
        built_at:
          type: string
          format: date-time
        trigger_event:
          type: string
          maxLength: 64
          description: Normalized trigger, e.g. `push`, `pull_request`, `manual`.
        metadata:
          $ref: '#/components/schemas/BuildMetadata'

    BuildPublic:
      type: object
      description: |
        The unauthenticated disclosure tier (spec §2.7). This is exactly what link
        unfurlers and logged-out visitors see on the resolution page: enough to make
        a preview useful and confirm the link is a real Driftmapper build link,
        and nothing more.

        Deliberately excludes committer, author, internal repository path, and all
        custom metadata. This tier matches the disclosure boundary teams already have
        with a plain public build-info file, so nothing that is public today becomes
        private and nothing private today becomes public.
      required: [build_instance_id, repository_name, built_at]
      properties:
        build_instance_id: { type: string }
        repository_name:
          type: string
          description: Short repository name only — never the full internal path.
        built_at: { type: string, format: date-time }

    Build:
      type: object
      description: The authenticated disclosure tier — full metadata (spec §2.7).
      required:
        - build_instance_id
        - repository_id
        - repository_name
        - visibility
        - commit_sha
        - ref
        - workflow
        - built_at
        - registered_at
        - bound
      properties:
        build_instance_id:
          type: string
          description: |
            Opaque and server-issued. Content-addressed over the tuple documented on
            `registerBuild`. Clients MUST treat this as opaque and MUST NOT parse it —
            the derivation is an implementation detail that may change.
        repository_id:
          type: string
          description: |
            Provider's stable repository identifier. Internal identity is keyed on
            this rather than `owner/name`, which changes on rename.
        repository_name: { type: string }
        repository_path:
          type: string
          description: Full `owner/name` path. Authenticated tier only.
        visibility: { $ref: '#/components/schemas/Visibility' }
        provider: { $ref: '#/components/schemas/Provider' }
        commit_sha: { type: string }
        commit_author: { type: string }
        commit_committer: { type: string }
        ref: { type: string }
        workflow: { type: string }
        run_id: { type: string }
        run_attempt:
          type: string
          description: |
            A passthrough OIDC claim value (GitHub's `run_attempt` claim is itself a
            string), never parsed or compared numerically server-side — only used as
            one input to the content-address tuple (spec §2.5a). Typed as a string
            rather than `integer` for that reason.
        trigger_event: { type: string }
        built_at: { type: string, format: date-time }
        registered_at: { type: string, format: date-time }
        resolution_url:
          type: string
          format: uri
          description: |
            Canonical resolution page for this build — the URL written into
            `build-info.html`. Server-provided so the CLI never constructs it and
            cannot drift from server routing.
        bound:
          type: boolean
          deprecated: true
          description: |
            Deprecated (DRFT-84): always `true` as of the release registration started
            requiring a live trusted-workload policy (DRFT-80) — there is no more unbound
            state for this field to report. Scheduled for removal after the N-2
            compatibility window closes (DRFT-85).
        claim_url:
          type: string
          format: uri
          deprecated: true
          description: |
            Deprecated (DRFT-84): always absent as of the same release — `bound` is never
            `false` anymore, so there is nothing left for this field to point at. Scheduled
            for removal after the N-2 compatibility window closes (DRFT-85).
        metadata: { $ref: '#/components/schemas/BuildMetadata' }

    BuildResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Build' }

    BuildListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, page]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/Build' }
            page: { $ref: '#/components/schemas/PageInfo' }

    # --- Deployments (deploy-marking, spec's Slice 7) -----------------------
    #
    # One immutable ledger row per deploy-mark call. No update/delete
    # operation exists on this resource anywhere in this API — a
    # correction is always a new row, never an edit.
    Deployment:
      type: object
      description: |
        One immutable ledger row: this build was recorded as deployed to
        this environment. Rows always arrive in order — the server stamps
        `created_at` at request time, so "currently deployed" for an
        environment is always the newest row by `created_at`, never a
        mutated pointer. A correction is a new row, never an edit.

        Same ledger as `Verification`, discriminated only by `kind`
        (`deploy` here, `verify` there) — one assertion coordinate space
        (build, environment, time), two claim types.
      required: [id, kind, repository_id, environment, build_instance_id, deployed_by, created_at]
      properties:
        id:
          type: integer
          format: int64
        kind:
          type: string
          enum: [deploy]
          description: Always `deploy` on this resource.
        repository_id:
          type: string
          description: Provider's stable repository identifier, same identity space as `Build.repository_id`.
        environment:
          type: string
          description: |
            Free-text, scoped to this repository (not the organization).
            Must match `^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$` — lowercase
            alphanumeric and hyphens, 1-63 characters, starting and ending
            with an alphanumeric character (the same shape as a Kubernetes
            namespace name). Rejected outright on submission if it doesn't
            match this pattern; there is no pre-registration step.
        build_instance_id:
          type: string
          description: |
            The build recorded as deployed. On the CI path this is what
            `commit_sha` resolved to — returned so the caller can see
            which build its commit resolved to (multiple builds can share
            a commit; newest wins). Must already be a registered build
            (`registerBuild`). This is the expectation a keyed verification
            compares its observation against.
        url:
          type: string
          format: uri
          nullable: true
          description: |
            Where this deployment lives — the absolute URL of the deployed
            `build-info.html`, recorded by `recordDeployment`'s optional
            `url` field. Null on rows that predate the field or omitted it;
            deployment-keyed verification (`getCurrentDeployment` → fetch →
            compare) is only possible for rows that carry one. HTTPS.
        run_id:
          type: string
          nullable: true
          description: |
            The deploy-triggering CI run's `run_id` OIDC claim. Distinct
            from `Build.run_id`, which describes the run that produced the
            build, not the run that deployed it. Absent (`null`) on
            dashboard-tagged rows, which have no run identity.
        run_attempt:
          type: string
          nullable: true
          description: |
            The deploy-triggering CI run's `run_attempt` claim — a manual
            re-run of the same deploy bumps only this. Distinct from
            `Build.run_attempt` for the same reason as `run_id`. Absent
            (`null`) on dashboard-tagged rows.
        deployed_by:
          type: string
          description: |
            Who recorded this row, discriminated by prefix: `user:<id>`
            for a deployment tagged from the dashboard, or an issuer-scoped
            workload identity (`ci:<issuer>:<repository_id>`, e.g.
            `ci:github:123456`) for one recorded by `recordDeployment`.
            Exactly one cause per row — never both, never neither —
            distinguishing a human action from a CI one in the audit trail.

            Rows recorded before this prefix was normalized may carry the
            bare issuer form (`github:123456`); readers MUST treat both
            forms as the same workload identity shape.
        created_at:
          type: string
          format: date-time
          description: |
            Server-stamped at request time — the sole ordering key for
            "currently deployed." Never client-supplied: an out-of-range
            client timestamp here would have been a permanent,
            uncorrectable corruption of that answer on an insert-only
            ledger, so the server stamps it instead of trusting the caller.

    DeploymentResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Deployment' }

    DeploymentRequest:
      type: object
      description: |
        `repository_id` has no field here, mirroring `BuildRegistration`'s
        token-derived/submitted split — the repository is resolved from
        the verified workload OIDC token via the same trusted-workload-
        policy check build registration uses, never from the request.

        Carries `commit_sha`, not `build_instance_id` — a deploy step
        generally cannot know the opaque, server-derived build-instance ID
        (it may live only inside a Docker image layer the deploy job never
        unpacks, or in a separate CI run's stdout). Every deploy topology,
        by contrast, knows the commit it is shipping.
      required: [commit_sha, environment]
      additionalProperties: false
      properties:
        commit_sha:
          type: string
          description: |
            The commit being deployed. The server resolves the newest
            registered build for this commit, scoped to the token's
            repository — an unknown commit, or one belonging to a
            different repository, is a `404` (existence hiding, same
            convention as an unknown build-instance ID). A commit with
            more than one registered build (a manual re-run bumping
            `run_attempt`, or multiple workflows registering the same
            commit) resolves to the newest by `registered_at`.
        environment:
          type: string
          description: See `Deployment.environment` for the validation rule.
        url:
          type: string
          format: uri
          maxLength: 2048
          description: |
            Optional. Absolute HTTPS URL of the deployed `build-info.html`
            for this deployment — the target a keyed verification will
            fetch (`driftmapper verify <environment>`). Omitted rows are
            verifiable only by callers that supply their own URL; recording
            it is strongly recommended so the environment name alone
            suffices later.

    DeployBuildRequest:
      type: object
      description: |
        `build_instance_id` comes from the URL (`{buildInstanceId}`), not
        repeated here — the caller is already on that build's resolution
        page.
      required: [environment]
      additionalProperties: false
      properties:
        environment:
          type: string
          description: See `Deployment.environment` for the validation rule.

    Verification:
      type: object
      description: |
        One immutable ledger row: an identity asserted this build was
        observed live in this environment. Same shape as `Deployment` but a
        distinct assertion `kind` (`verify`, not `deploy`) — one claim type
        in the same coordinate space (build, environment, time), never a
        confirmation of one particular deployment record. Rows are
        insert-only; "verified" is a read-time comparison of the latest
        `deploy` vs. latest `verify` claim, and a disagreement is the drift
        signal, not an error state.

        Since deployment-keyed verification (DRFT-98/DRFT-101) the row also
        records *how the check went* via `outcome`: what the caller observed
        at the deployment's URL, including failures to reach or parse it.
        Rows without those fields predate the fields or come from callers
        that only attest; treat them as `outcome: verified`.
      required: [id, kind, repository_id, environment, build_instance_id, asserted_by, created_at]
      properties:
        id:
          type: integer
          format: int64
        kind:
          type: string
          enum: [verify]
          description: Always `verify` on this resource.
        repository_id:
          type: string
          description: |
            The build's **owning** repository's stable provider id — same
            identity space as `Build.repository_id`. Always the build's
            owner, never the caller's token claim.
        environment:
          type: string
          description: |
            Free-text, scoped to this repository. Must match
            `^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$` — same DNS-label rule as
            `Deployment.environment`.
        build_instance_id:
          type: string
          description: |
            The build asserted as observed live. For keyed verification
            this is the checked deployment's expected build; for a bare
            attestation, whatever the caller asserts. Must already be a
            registered build (`registerBuild`).
        deployment_id:
          type: integer
          format: int64
          nullable: true
          description: |
            The deployment row this check ran against — provenance, not
            gating: citing it never blocks or mutates the cited row. Null
            on attestations not keyed to a deployment.
        source_url:
          type: string
          format: uri
          nullable: true
          description: |
            The URL the caller fetched when checking — normally the
            deployment's own `url`. Null when nothing was fetched.
        observed_build_instance_id:
          type: string
          nullable: true
          description: |
            What `driftmapper:build-id` actually said in the deployed file's
            meta tags. Null unless `outcome` is `verified` or `mismatch`.
        outcome:
          type: string
          enum: [verified, mismatch, fetch_failed, parse_failed]
          description: |
            How the check went. `verified` — observed build matches the
            expectation. `mismatch` — it differs (the drift signal,
            recorded as data). `fetch_failed` — the URL could not be
            fetched (unreachable, non-200, TLS/timeout). `parse_failed` —
            something was served but carried no usable driftmapper meta
            tags (wrong page, unsupported schema version). Absent on legacy
            rows: treat as `verified`.
        run_id:
          type: string
          nullable: true
          description: |
            The verifying CI run's `run_id` OIDC claim. Absent (`null`) on
            rows with no run identity.
        run_attempt:
          type: string
          nullable: true
          description: The verifying CI run's `run_attempt` claim.
        asserted_by:
          type: string
          description: |
            The identity that made this claim, discriminated by prefix:
            `ci:<issuer>:<repository_id>` (e.g. `ci:github:123456`) for a
            workload, or `user:<id>` for a human.
        created_at:
          type: string
          format: date-time
          description: |
            Server-stamped at request time — the sole ordering key. Never
            client-supplied, same reasoning as `Deployment.created_at`.

    VerificationResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Verification' }

    VerificationRequest:
      type: object
      description: |
        `repository_id` has no field here, mirroring `DeploymentRequest`'s
        token-derived/submitted split — the repository is resolved from the
        verified workload OIDC token, never from the request.

        The required pair (`build_instance_id`, `environment`) keeps the
        row in the assertion coordinate space; the optional outcome fields
        carry what an opinionated caller (`driftmapper verify`) observed.
        All optional fields are additive — bare attesters that send only
        the required pair remain fully valid, and servers treat their rows
        as `outcome: verified`.
      required: [build_instance_id, environment]
      additionalProperties: false
      properties:
        build_instance_id:
          type: string
          description: |
            For keyed verification, the checked deployment's expected build;
            for a bare attestation, the build asserted as observed live.
            Must be an already-registered build (`registerBuild`); an
            unknown ID is a `404` (existence hiding).
        environment:
          type: string
          description: See `Verification.environment` for the validation rule.
        deployment_id:
          type: integer
          format: int64
          description: |
            Optional. The deployment row this check ran against (resolved
            via `getCurrentDeployment`). Provenance only — never a gate or
            reference the server acts on beyond attribution.
        source_url:
          type: string
          format: uri
          maxLength: 2048
          description: |
            Optional. The URL the caller fetched when checking — normally
            the deployment's recorded `url`.
        observed_build_instance_id:
          type: string
          nullable: true
          description: |
            Optional, null unless a build-id was actually parsed out of the
            served file. Required to be non-null when `outcome` is
            `verified` or `mismatch`, and null otherwise (server-enforced
            once the outcome fields are implemented).
        outcome:
          type: string
          enum: [verified, mismatch, fetch_failed, parse_failed]
          description: |
            Optional; defaults to `verified` when omitted (bare attestation).
            See `Verification.outcome` for the semantics of each value.

    RepositoryAuthorizeRequest:
      type: object
      description: |
        Repository identity is never accepted here — it comes only from the
        verified workload OIDC token (spec §4.5), same rule as
        `BuildRegistration`'s token-derived fields.
      required: [challenge]
      additionalProperties: false
      properties:
        challenge:
          type: string
          description: |
            The single-use value issued by `POST /v1/orgs/{slug}/challenges`.
            Bearer secret — never logged, never written to disk by a
            conforming client.

    RepositoryAuthorization:
      type: object
      description: |
        Confirmation that a challenge was redeemed and the repository is now
        bound — not a full policy record (constraints, timestamps; see
        `Policy`/`listPolicies`, the dashboard-tier policy-management
        operations, DRFT-63).
      required: [repository_id, organization_id]
      properties:
        repository_id:
          type: string
          description: Provider's stable repository identifier, same identity space as `Build.repository_id`.
        organization_id: { type: string }

    RepositoryAuthorizationResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/RepositoryAuthorization' }

    # --- Challenges (DRFT-61) ----------------------------------------------
    #
    # Never carries the raw secret value except on ChallengeIssued, and only
    # there — createChallenge's response, once, per spec §4.5.
    Challenge:
      type: object
      required: [id, status, attempts, max_attempts, expires_at, created_at]
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [live, redeemed, revoked, expired]
          description: |
            Derived, not stored — see `model.Challenge.State()`. Does not
            reflect the attempt cap: a challenge that has hit `max_attempts`
            still reports `live` here until it also expires or is revoked
            (redemption itself is what enforces the cap; this field alone
            isn't sufficient to know whether a further redemption attempt
            would succeed).
[...]
